.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1.5px solid var(--color-border);
    background: linear-gradient(135deg, #a0e9ff, #69c9ff, #3b82f6);
}

.icon {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.search {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.searchBar {
    width: 200px;
    border-radius: 8px;
    border: 1.5px solid black;
    box-shadow: 2px 2px;
    padding: 0.5rem;
    outline: none;
}

.searchBar:focus {
    border: 1px solid #458cff;
    box-shadow: 2px 2px #458cff;
    background-color: #e4f4ff;
}

.searchBtn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.searchBtn:hover {
    transform: scale(1.1);
}

.searchBtn:active {
    transform: scale(0.9);
}

@media (max-width: 700px) {
    .search {
        left: auto;
        right: 0;
        transform: none;
    }
    .searchBar {
      width: 100px;
    }
  }
