.post {
    width: 100%;
    border-top: 1.5px dashed var(--color-border);
}

.content {
    padding: 1rem 2rem;
    min-height: 150px;
}

.tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeNum {
    display: flex;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.btnDisabled:active,
.btnDisabled:hover {
    transform: none;
}

@media (max-width: 700px) {
    .tool {
        flex-wrap: wrap;
    }
}